<code>

    <div class="content-group">
        <div class="page-header page-header-default" style="border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
            <div class="page-header-content border-bottom border-bottom-success">
                <div class="page-title">
                    <h5>
                        <i class="icon-arrow-left52 position-left"></i>
                        <span class="text-semibold">Page</span> - Header
                        <small class="display-block">Basic
                            <code>top</code> border with custom color</small>
                    </h5>
                </div>
            </div>
    
            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">
                            <i class="icon-home2 position-left"></i> Home</a>
                    </li>
                    <li>
                        <a href="components_page_header.html">Current</a>
                    </li>
                    <li class="active">Location</li>
                </ul>
    
                <ul class="breadcrumb-elements">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-three-bars"></i>
                            <span class="caret"></span>
                        </a>
    
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="#">
                                    <i class="icon-inbox pull-right"></i> Action</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-googleplus5 pull-right"></i> Another action</a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-grid-alt pull-right"></i> Something else</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="icon-spinner2 spinner pull-right"></i> One more line</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</code>